@import '../../assets/styles/variables.scss';

.selector {
  @apply h-full relative;

  &__button {
    @apply bg-white relative w-full h-full border rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-pointer sm:text-sm;

    border-color: $bondi-blue;

    outline: none;

    &:focus {
      box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, $bondi-blue 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      outline: none;
    }
  }

  &__button-text {
    @apply font-bold block truncate;

    color: $bondi-blue;
  }

  &__button-icon-wrapper {
    @apply absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none;
  }

  &__button-icon {
    @apply h-5 w-5;

    color: $bondi-blue;
  }

  &__list {
    @apply absolute z-10 mt-1 w-full bg-white shadow-lg max-h-60 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm;
  }

  &__list-item {
    @apply text-gray-900 cursor-default select-none relative;
  }

  &__list-item-button {
    @apply text-gray-900 cursor-default select-none relative py-2 px-2 w-full cursor-pointer;

    outline-color: $bondi-blue;
  }

  &__list-item-button-text {
    @apply font-bold block truncate text-center;

    color: $bondi-blue;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
