@import 'sass-mq';
@import '../../assets/styles/variables.scss';

.header {
  @apply py-4 flex md:items-center md:justify-between relative;

  &__logo-wrapper {
    @apply flex-1 min-w-0;
  }

  &__logo {
    @apply h-11;
  }

  &__burger-button {
    @apply flex md:hidden w-8 h-8 p-1;
  }

  &__menu-container {
    @apply transform translate-x-0 visible opacity-100 flex flex-col md:flex-row md:flex mt-4 md:mt-0 md:ml-4 md:visible absolute md:static top-10 w-full box-border md:w-auto transition duration-200;

    @include mq($until: 767px) {
      &--hidden {
        @apply invisible opacity-0 transform translate-x-full transition-all duration-200;
      }
    }
  }

  &__sign-in-button {
    @apply whitespace-nowrap text-base font-medium text-gray-500 rounded-md hover:text-gray-900 px-4 py-2 md:ml-3 transition duration-200;

    &:focus {
      box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, $bondi-blue 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      outline: none;
    }
  }

  &__sign-up-button {
    @apply mt-3 md:mt-0 md:ml-3 px-4 py-2 rounded-md text-sm font-medium text-white transition duration-200;

    background-color: $bondi-blue;

    &:focus {
      box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, $bondi-blue 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      outline: none;
    }

    &:hover {
      background-color: $persian-green;
    }
  }

  &__selector {
    @apply md:ml-3 mt-3 md:mt-0;
  }
}
